<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="task.application.com.moviefinder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.searchlist.SearchListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:parentActivityName=".ui.search.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.search.SearchActivity" />
        </activity>
        <activity
            android:name=".ui.search.SearchActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.itemdetail.SearchItemDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/title_activity_search_item_detail"
            android:parentActivityName=".ui.searchlist.SearchListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="task.application.com.moviefinder.ui.searchlist.SearchListActivity" />
        </activity>
        <activity
            android:name=".ui.favorites.FavoritesMediaActivity"
            android:label="@string/title_activity_favorites_media"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>