<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="task.application.com.moviefinder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.advancedsearch.search.SearchActivity"
            android:parentActivityName=".ui.discover.DiscoverActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.discover.DiscoverActivity" />
        </activity>
        <activity
            android:name=".ui.advancedsearch.searchlist.SearchListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:parentActivityName=".ui.advancedsearch.search.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.advancedsearch.search.SearchActivity" />
        </activity>
        <activity
            android:name=".ui.itemdetail.SearchItemDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/title_activity_search_item_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value="task.application.com.moviefinder.ui.advancedsearch.searchlist.SearchListActivity" /> -->
        </activity>
        <activity
            android:name=".ui.favorites.FavoritesMediaActivity"
            android:label="@string/title_activity_favorites_media"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentStatusNav" />
        <activity
            android:name=".ui.discover.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.discover.DiscoverActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.appsearch.AppSearchActivity"
            android:label="@string/title_activity_app_search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>